html, body {
  height: 100%;
  font-family: 'Microsoft YaHei'; 
  color: #333;
  background-color: #fff;
  }
  
  
* {
  box-sizing: border-box;
 }


.tabbar {
  position: fixed;
  width: 100%;
  bottom: 0;
}

.am-tab-bar-tab .iconfont {
  font-size: 20px;
}